/* Base styles: narrow screens first */
main {
    padding: 1rem;
}

:root {
    --font-family: Arial, sans-serif;
    --font-size: 1rem;
    --color-primary: #3c20a3;
    --color-secondary: #0a3e18;
    --text-color: #000000;
}

h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    color: var(--color-primary);
    text-transform: uppercase;
    text-decoration: underline;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-secondary);
    text-decoration: underline wavy;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color);
    line-height: 1.5;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
    align-self: center;
    position: relative;
}

/* Larger screens */
@media screen and (min-width: 768px) {
    main {
        padding: 2rem 4rem;
    }
}